<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="FloMuvina is an integrated agricultural supply chain catalyst ensuring farmers’ produce are off-taken at scale in the right quality and quantity to meet local processing and international market needs" />
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#061948">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#061948">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#061948">
		<title>FloMuvina</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/favicon.ico">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="css/responsive.css">
		<link rel=”stylesheet” href=”https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css”>

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->	
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>

			

			<!-- 
			=============================================
				Theme Header One
			============================================== 
			-->
			<header class="header-one">
				<div class="top-header">
					<div class="container clearfix">
						<div class="logo float-left"><a href="/"><img src="images/logo/logo2.png" alt=""></a></div>
						<div class="address-wrapper float-right">
							<ul>
								<li class="address">
									<i class="icon flaticon-placeholder"></i>
									<h6>Address:</h6>
									<p>5 SBB Plaza, Behind Amac Market, Lugbe FHA, FCT-Abuja.</p>
								</li>
								<li class="address">
									<i class="icon flaticon-multimedia"></i>
									<h6>Reach out to our Trade Desk <br>to inquire or do business with us -</h6>
									<p>trade@flomuvina.com</p>
								</li>
							</ul>
						</div> <!-- /.address-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.top-header -->

				<div class="theme-menu-wrapper">
					<div class="container2">
						<div class="bg-wrapper clearfix">
							<!-- ============== Menu Warpper ================ -->
					   		<div class="menu-wrapper float-left">
					   			<nav id="mega-menu-holder" class="clearfix">
								   <ul class="clearfix">
									    <li class="active"><a href="/">Home</a></li>
										<li class="active"><a href="#about">About Us</a></li>
										<li class="active"><a href="#service">Service Areas</a></li>
										<li class="active"><a href="#counter">Our Numbers</a></li>
										<li class="active"><a href="#core">Core Values</a></li>
									    <li><a href="#">People</a>
									    	<ul class="dropdown">
									        	<li class="active"><a href="#team">our Leadership</a></li>
									        	<li class="active"><a href="#partners">Partners</a></li>
									        	<li class="active"><a href="#career">Career</a></li>
									       </ul>
									    </li>
								   </ul>
								</nav> <!-- /#mega-menu-holder -->
					   		</div> <!-- /.menu-wrapper -->

					   		<div class="right-widget float-right">
					   			<ul>
									<li class="social-icon">
										<ul>
										 <li><a href="https://web.facebook.com/FloMuvina" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										 <li><a href="https://twitter.com/flomuvina_ng" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										 <li><a href="https://instagram.com/flomuvina" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
										 <li><a href="https://www.linkedin.com/company/flomuvina-nigeria-limited" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										 <li></li>
									 </ul>
									</li>   
					   				
					   				<li class="search-option">
					   					<div class="dropdown">
					   						<button type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></button>
											<form action="#" class="dropdown-menu">
												<input type="text" Placeholder="Enter Your Search">
												<button><i class="fa fa-search"></i></button>
											</form>
					   					</div>
					   				</li>
					   			</ul>
					   		</div> <!-- /.right-widget -->
						</div> <!-- /.bg-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.theme-menu-wrapper -->
			</header> <!-- /.header-one -->

			
			<!-- 
			=============================================
				Theme Main Banner
			============================================== 
			-->
			<div id="theme-main-banner" class="banner-one">
				<div data-src="images/home/slider1.jpg">
					<div class="camera_caption">
						<div class="container">
							<p class="wow fadeInUp animated">Food security is like a relay;</p>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.2s">starts with the farmer <br>& continues with us</h1>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
				<div data-src="images/home/slider1.jpg">
					<div class="camera_caption">
						<div class="container">
							<p class="wow fadeInUp animated">Food security is like a relay;</p>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.2s">Starts with the farmer <br>& continues with us</h1>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
			</div> <!-- /#theme-main-banner -->
			<!--
			=============================================
				SDG Banner 
			============================================== 
			-->
			<div class="callout-banner section-spacing">
				<div class="container clearfix">
					<img class="callout-img" src="images/home/sdg-1.png" alt="SDG 1-3">
					<p>"We are making sure food processors always have access to quality grains at lower cost – because we know the impact this has on the price of food in the country and the livelihood of its citizens.” - Elias Bakare, Co-CEO.</p>
					<p>Let’s say this is our approach to contributing to the United Nations Sustainable Development Goals (SDG)</p>
					
				</div>
			</div> <!-- /.callout-banner -->

			<!-- 
			=============================================
				About 
			============================================== 
			-->
			<div id="about" class="about-compnay section-spacing">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-12"><img src="images/home/about-1.jpg" alt=""></div>
						<div class="col-lg-6 col-12">
							<div class="text">
								<div class="theme-title-one">
									<h2>Who we are</h2>
									<p>FloMuvina is an integrated agricultural supply chain catalyst ensuring farmers’ produce are off-taken at scale in the right quality and quantity to meet local processing and international market needs.</p>
									<p><strong>Our Vision </strong> <br>We are building an agricultural supply chain system that will become the largest, most reliable, and most resilient in the country and across the continent.</p>
									<p><strong>Our Mission </strong> <br>To do this, we are bringing together very highly skilled young minds, the best and most suitable technology, and the strongest ecosystem relationships to ensure agro-commodities are always available to food processors</p>
								</div> <!-- /.theme-title-one -->
							</div> <!-- /.text -->
						</div> <!-- /.col- -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.about-compnay -->
			
			<!-- 
			=============================================
				What We do
			============================================== 
			-->
			<div id="service" class="service-style-one section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>What We do</h2>
						<p>Our service areas</p>
					</div> <!-- /.theme-title-one -->
					<div class="wrapper">
						<div class="row">
							<div class="col-xl-4 col-md-6 col-12">
								<div class="single-service">
									<div class="img-box"><img src="images/home/aggregate.jpg" alt=""></div>
									<div class="text">
										<h5><a href="#">Aggregation</a></h5>
										<p>Arguably the largest aggregation network for collecting grains across Nigeria (Currently across 16 states)</p>
										<a href="#" class="read-more">READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.single-service -->
							</div> <!-- /.col- -->
							<div class="col-xl-4 col-md-6 col-12">
								<div class="single-service">
									<div class="img-box"><img src="images/home/3.jpg" alt=""></div>
									<div class="text">
										<h5><a href="#">Warehousing</a></h5>
										<p>Fully-owned storage facilities located in top producing communities (Currently in 4 states with 3 additional units to be commissioned in 2022)</p>
										<a href="#" class="read-more">READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.single-service -->
							</div> <!-- /.col- -->
							<div class="col-xl-4 col-md-6 col-12">
								<div class="single-service">
									<div class="img-box"><img src="images/home/4.jpg" alt=""></div>
									<div class="text">
										<h5><a href="#">Supply</a></h5>
										<p>Facilitating the direct supply of grains to food processors through our directly owned fleet and other 3rd party logistics partners.</p>
										<a href="#" class="read-more">READ MORE <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div> <!-- /.text -->
								</div> <!-- /.single-service -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.wrapper -->
					<div class="contact-text">
						<h4>You can also send us an email and we’ll get in touch shortly, or Call us</h4>
						<h5><a href="#">trade@flomuvina.com</a>  (or)  <a href="#">0708-380-8839, 08036163353</a></h5>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.service-style-one -->

			<!--
			=====================================================
				Number Counter
			=====================================================
			-->
			<div id="counter" class="theme-counter">
				<div class="container">
					<div class="bg">
						<h2>Our Numbers so far</h2>

						<div class="cunter-wrapper">
							<div class="row">
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number"><span class="timer" data-from="0" data-to="10" data-speed="1200" data-refresh-interval="5">0</span></div>
				        				<p>Warehouses across the country.</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number"><span class="timer" data-from="0" data-to="63427" data-speed="1200" data-refresh-interval="5">0</span>MT+</div>
				        				<p>of grains supplied</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number">$<span class="timer" data-from="0" data-to="34" data-speed="1200" data-refresh-interval="5">0</span>M</div>
				        				<p>Worth of grains supplied</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number"><span class="timer" data-from="0" data-to="36" data-speed="1200" data-refresh-interval="5">0</span></div>
				        				<p>Industrial processors</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
								<div class="col-md-3 col-6">
									<div class="single-counter-box">
				        				<div class="number"><span class="timer" data-from="0" data-to="16" data-speed="1200" data-refresh-interval="5">0</span></div>
				        				<p>Aggregation Centers in Nigeria</p>
				        			</div> <!-- /.single-counter-box -->
								</div>  <!-- /.col- -->
							</div> <!-- /.row -->
						</div> <!-- /.cunter-wrapper -->
					</div> <!-- /.bg -->
				</div> <!-- /.container -->
			</div> <!-- /.theme-counter -->

			<!-- 
			=============================================
				Core Values Banner
			============================================== 
			-->
			<div id="core" class="feature-banner">
				<div class="opacity">
					<div class="container">
						<h2>What matters most to us</h2>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.feature-banner -->

			<!-- 
			=============================================
				Core Values
			============================================== 
			-->
			<div class="top-feature">
				<div class="top-features-slide">
					<div class="item">
						<div class="main-content" style="background:#fafafa;">
							<img src="images/icon/4.png" alt="">
							<h4><a href="#">Agility</a></h4>
							<p>We are quick to move, and we have one of the industry’s shortest turnaround time.</p>
						</div> <!-- /.main-content -->
					</div> <!-- /.item -->
					<div class="item">
						<div class="main-content" style="background:#f6f6f6;">
							<img src="images/icon/2.png" alt="">
							<h4><a href="#">Excellence</a></h4>
							<p>We are dedicated to quality; we don’t compromise value in any manner.</p>
						</div> <!-- /.main-content -->
					</div> <!-- /.item -->
					<div class="item">
						<div class="main-content" style="background:#efefef;">
							<img src="images/icon/3.png" alt="">
							<h4><a href="#">Integrity</a></h4>
							<p>We understand that our word is our bond, and we build trust with every chance we get.</p>
						</div> <!-- /.main-content -->
					</div> <!-- /.item -->
					<div class="item">
						<div class="main-content" style="background:#e9e9e9;">
							<img src="images/icon/1.png" alt="">
							<h4><a href="#">Collaboration</a></h4>
							<p>We believe in working together and we demonstrate this in every way possible</p>
						</div> <!-- /.main-content -->
					</div> <!-- /.item -->
					<div class="item">
						<div class="main-content" style="background:#efefef;">
							<img src="images/icon/4.png" alt="">
							<h4><a href="#">Transparency</a></h4>
							<p>We are honest in our dealings and our partners trust us.</p>
						</div> <!-- /.main-content -->
					</div> <!-- /.item -->
				</div> <!-- /.top-features-slide -->
			</div> <!-- /.top-feature -->
			<!--
			=====================================================
				Our Unique Story Section
			=====================================================
			-->
			<div class="faq-section">
				<div class="overlay">
					<div class="container">
						<div class="theme-title-one">
							<h2>Our Unique Story</h2>
							<p>Our Timeline</p>
						</div> <!-- /.theme-title-one -->

						<div class="wrapper row no-gutters">
							<div class="col-xl-6 col-lg-7 order-last">
								<div class="faq-content">
									<div class="accordion-one">
										<div class="panel-group theme-accordion" id="accordion">
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
												<strong>October 2019 -</strong>FloMuvina Nig Ltd was registered in Nigeria as a legal entity</a>
										      </h6>
										    </div>
										    <div id="collapse1" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>FloMuvina Nig Ltd was registered in Nigeria as a legal entity.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 1 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
													<strong>February 2020 -</strong>FloMuvina launched as a super aggregator</a>
										      </h6>
										    </div>
										    <div id="collapse2" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>FloMuvina launched as a super aggregator supplying agro-commodities (maize, rice paddy and soybean) to food processors in Nigeria through a 3rd party.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 2 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
													<strong>December 2020 -</strong>FloMuvina partners with ThriveAgric.</a>
										      </h6>
										    </div>
										    <div id="collapse3" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>FloMuvina partners with ThriveAgric to aggregate approximately 50,000MT of maize, rice paddy and soybean</p>
										      </div>
										    </div>
										  </div> <!-- /panel 3 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
													<strong>April 2021 -</strong>FloMuvina expands its partnership with ThriveAgric </a>
										      </h6>
										    </div>
										    <div id="collapse4" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>FloMuvina expands its partnership with ThriveAgric to supply food processors directly with paddy rice.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 4 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
													<strong>June 2021 -</strong>FloMuvina increased its warehousing capacity</a>
										      </h6>
										    </div>
										    <div id="collapse5" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>FloMuvina increased its warehousing capacity from 1,100MT to 5,700MT.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 5 -->
										  <div class="panel">
										    <div class="panel-heading">
										      <h6 class="panel-title">
										        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
													<strong>September 2021 -</strong>FloMuvina raises $1.6m for trade financing</a>
										      </h6>
										    </div>
										    <div id="collapse6" class="panel-collapse collapse">
										      <div class="panel-body">
										      	<p>FloMuvina raises about N637m ($1.6m) for trade financing.</p>
										      </div>
										    </div>
										  </div> <!-- /panel 6 -->
										</div> <!-- end #accordion -->
									</div> <!-- End of .accordion-one -->
								</div> <!-- /.faq-content -->
							</div> <!-- /.col- -->
							<div class="col-xl-6 col-lg-5 order-first"><div class="img-box"><a data-fancybox href="#" class="play"><i class="fa fa-play" aria-hidden="true"></i></a></div></div>
						</div> <!-- /.wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.faq-section -->

			<!--
			=====================================================
				Testimonial Slider
			=====================================================
			-->
			<div class="testimonial-section section-spacing">
				<div class="overlay">
					<div class="container">
						<div class="wrapper">
							<div class="bg">
								<div class="testimonial-slider">
									<div class="item">
										<p>“FloMuvina is indeed a dependable ally in business. A partner to lean on when the usual seems not to be working or available.”</p>
										<div class="name">
											<h6>Joe Nwagbo</h6>
											<span>SC Manager, Coscharis Farms</span>
										</div> <!-- /.name -->
									</div> <!-- /.item -->
									<div class="item">
										<p>“FloMuvina is one of our key and trusted partners. Our work together especially in the areas of aggregation and supply of grains to food processors has played a critical role to our growth at ThriveAgric.”</p>
										<div class="name">
											<h6>Ayo Arikawe</h6>
											<span>CTO, Thrive Agric</span>
										</div> <!-- /.name -->
									</div> <!-- /.item -->
									<div class="item">
										<p>“FloMuvina is our very good and dependable supplier of rice paddy”</p>
										<div class="name">
											<h6>Mr Saikat</h6>
											<span>Operation Manager, Springfield Agro</span>
										</div> <!-- /.name -->
									</div> <!-- /.item -->
									
								</div> <!-- /.testimonial-slider -->
							</div> <!-- /.bg -->
						</div> <!-- /.wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.overlay -->
			</div> <!-- /.testimonial-section -->


			<!--
			=====================================================
				Our Team
			=====================================================
			-->
			<div id="team" class="our-team section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>Our Team</h2>
						<p>The Team Building FloMuvina</p>
					</div> <!-- /.theme-title-one -->
					<div class="wrapper">
						<div class="row">
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="team-member">
									<div class="image-box">
										<img src="images/team/elias-bakare.jpeg" alt="">
										<div class="overlay">
											<div class="hover-content">
												<ul>
													<li><a href="https://www.linkedin.com/in/ebakare/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												</ul>
												<p></p>
											</div> <!-- /.hover-content -->
										</div> <!-- /.overlay -->
									</div> <!-- /.image-box -->
									<div class="text">
										<h6>Elias Bakare</h6>
										<span>Co-CEO – Commercials & Strategy</span>
									</div> <!-- /.text -->
								</div> <!-- /.team-member -->
							</div> <!-- /.col- -->
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="team-member">
									<div class="image-box">
										<img src="images/team/babangida-shittu.jpg" alt="">
										<div class="overlay">
											<div class="hover-content">
												<ul>
													<li><a href="https://www.linkedin.com/in/babangida-shittu-1bb0ab111/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												</ul>
												<p></p>
											</div> <!-- /.hover-content -->
										</div> <!-- /.overlay -->
									</div> <!-- /.image-box -->
									<div class="text">
										<h6>Babangida Shittu</h6>
										<span>Co-CEO – Operations & Partnerships</span>
									</div> <!-- /.text -->
								</div> <!-- /.team-member -->
							</div> <!-- /.col- -->
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="team-member">
									<div class="image-box">
										<img src="images/team/Oluwatobiloba-Ejalonibu.jpeg" alt="">
										<div class="overlay">
											<div class="hover-content">
												<ul>
													<li><a href="https://www.linkedin.com/in/oluwatobiloba-ejalonibu-aca-629796160/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												</ul>
												<p></p>
											</div> <!-- /.hover-content -->
										</div> <!-- /.overlay -->
									</div> <!-- /.image-box -->
									<div class="text">
										<h6>Oluwatobiloba Ejalonibu</h6>
										<span>Finance</span>
									</div> <!-- /.text -->
								</div> <!-- /.team-member -->
							</div> <!-- /.col- -->
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="team-member">
									<div class="image-box">
										<img src="images/team/Toyin_P.jpg" alt="">
										<div class="overlay">
											<div class="hover-content">
												<ul>
													<li><a href="https://www.linkedin.com/in/dorcas-olajiga-601074161" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												</ul>
												<p></p>
											</div> <!-- /.hover-content -->
										</div> <!-- /.overlay -->
									</div> <!-- /.image-box -->
									<div class="text">
										<h6>Toyin Olajiga</h6>
										<span>Data</span>
									</div> <!-- /.text -->
								</div> <!-- /.team-member -->
							</div> <!-- /.col- -->
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="team-member">
									<div class="image-box">
										<img src="images/team/Tare_Okene.jpeg" alt="">
										<div class="overlay">
											<div class="hover-content">
												<ul>
													<li><a href="https://www.linkedin.com/in/editha-rose-o-a616b51a3/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												</ul>
												<p></p>
											</div> <!-- /.hover-content -->
										</div> <!-- /.overlay -->
									</div> <!-- /.image-box -->
									<div class="text">
										<h6>Tare Okene</h6>
										<span>People Operations</span>
									</div> <!-- /.text -->
								</div> <!-- /.team-member -->
							</div> <!-- /.col- -->
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="team-member">
									<div class="image-box">
										<img src="images/team/emmanuel.jpeg" alt="">
										<div class="overlay">
											<div class="hover-content">
												<ul>
													<li><a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
												</ul>
												<p></p>
											</div> <!-- /.hover-content -->
										</div> <!-- /.overlay -->
									</div> <!-- /.image-box -->
									<div class="text">
										<h6>Emmanuel</h6>
										<span>Warehouse</span>
									</div> <!-- /.text -->
								</div> <!-- /.team-member -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.our-team -->
			<!--
			=====================================================
				Career
			=====================================================
			-->
			<div id="career" class="consultation-form">
				<div class="container">
					<div class="theme-title-one">
						<h2>Careers at FloMuvina</h2>
						<p>Here at Flo Muvina, we think about the work we do as part of something way bigger than any of us. And that helps us live each day actively committed to making an impact on the lives of others. We are always looking for bright and innovative young talents to work with us, so if you think there is something special about you, we want to hear from you! Share your Resume with us (1-page please). Send to people@flomuvina.com</p>
					</div> <!-- /.theme-title-one -->
				</div> <!-- /.container -->
			</div> <!-- /.consultation-form -->
			<!-- 
			=============================================
				Benfits of working with Flomuvina
			============================================== 
			-->
			<div class="branch-address">
				<div class="container">
					<div class="row">
						<div class=""><h4>Some employee benefits include:</h4></div>
						<div class="address-slider">
							<div class="item">
								<div class="wrapper">
									<p><i class="fa fa-hospital-o" aria-hidden="true"></i> A robust health insurance cover</p>
								</div> <!-- /.wrapper -->
							</div>
							<div class="item">
								<div class="wrapper">
									<p><i class="fa fa-bicycle" aria-hidden="true"></i> Access to gym and spa care</p>
								</div> <!-- /.wrapper -->
							</div>
							<div class="item">
								<div class="wrapper">
									<p><i class="fa fa-wifi" aria-hidden="true"></i> Internet subscription subsidy</p>
								</div> <!-- /.wrapper -->
							</div>
							<div class="item">
								<div class="wrapper">
									<p><i class="fa fa-map-o" aria-hidden="true"></i> A flexible remote work option</p>
								</div> <!-- /.wrapper -->
							</div>
						</div> <!-- /.address-slider -->
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.branch-address -->

			<!--
			=====================================================
				Partner Slider
			=====================================================
			-->
			<div id="partners" class="partner-section bg-color">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-12">
							<h6>OUR <br>PARTNERS</h6>
						</div>
						<div class="col-md-9 col-sm-8 col-12">
							<div class="partner-slider">
								<div class="item"><img src="images/logo/sterling.jpg" alt=""></div>
								<div class="item"><img src="images/logo/thrive.jpg" alt=""></div>
								<div class="item"><img src="images/logo/taj.jpg" alt=""></div>
								<div class="item"><img src="images/logo/Coscharis-Farms.png" alt=""></div>
								<div class="item"><img src="images/logo/FBB_Rice_Mill.png" alt=""></div>
								<div class="item"><img src="images/logo/Tiamin_Rice_Mill.png" alt=""></div>
								<div class="item"><img src="images/logo/Stallion_Rice.png" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.partner-section -->


			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer class="theme-footer-one">
				<div class="top-footer">
					<div class="container">
						<div class="row">
							<div class="col-xl-3 col-lg-4 col-sm-6 about-widget">
								<h6 class="title">About Us</h6>
								<p>FloMuvina is an integrated agricultural supply chain catalyst ensuring farmers’ produce are off-taken at scale in the right quality and quantity to meet local processing and international market needs.</p>
								<div class="queries"><i class="flaticon-phone-call"></i> Any Queries : <a href="#">(+234) 708-380-8839, 0803-616-3353</a></div>
							</div> <!-- /.about-widget -->
							<div class="col-xl-4 col-lg-3 col-sm-6 footer-recent-post">
							</div> <!-- /.footer-recent-post -->
							<div class="col-xl-2 col-lg-3 col-sm-6 footer-list">
								<h6 class="title">Quick Links</h6>
								<ul>
									<li><a href="/404">Careers</a></li>
									<li><a href="/404">Blog</a></li>
									<li><a href="/404">FAQs</a></li>
								</ul>
							</div> <!-- /.footer-list -->
							<div class="col-xl-3 col-lg-2 col-sm-6 footer-newsletter">
								<h6 class="title">NEWSLETTER</h6>
								<form action="#">
									<input type="text" placeholder="Name *">
									<input type="email" placeholder="Email *">
									<button class="theme-button-one">SUBSCRIBE</button>
								</form>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.top-footer -->
				<div class="bottom-footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-12"><p>&copy; Copyrights 2022. All Rights Reserved.</p></div>
						</div>
					</div>
				</div> <!-- /.bottom-footer -->
			</footer> <!-- /.theme-footer -->
			

	        

	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="vendor/jquery.2.2.3.min.js"></script>
		<!-- Popper js -->
		<script src="vendor/popper.js/popper.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Camera Slider -->
		<script src='vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	    <script src='vendor/Camera-master/scripts/jquery.easing.1.3.js'></script> 
	    <script src='vendor/Camera-master/scripts/camera.min.js'></script>
	    <!-- menu  -->
		<script src="vendor/menu/src/js/jquery.slimmenu.js"></script>
		<!-- WOW js -->
		<script src="vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script src="vendor/jquery.appear.js"></script>
		<script src="vendor/jquery.countTo.js"></script>
		<!-- Fancybox -->
		<script src="vendor/fancybox/dist/jquery.fancybox.min.js"></script>

		<!-- Theme js -->
		<script src="js/theme.js"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>