<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Flomuvina</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!--
    Compass Template
    http://www.templatemo.com/tm-454-compass
    -->
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/templatemo-misc.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/templatemo-main.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="static/images/ico/favicon.ico">

    <!-- JavaScripts -->
    <script src="static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/modernizr.js"></script>
    <!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->
</head>
<body>

    <div id="home">
        <div class="site-header">
            <div class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="left-header">
                                <span><i class="fa fa-phone"></i>+ (234) 708-3808-839</span>
                                <span><i class="fa fa-envelope"></i>trade@flomuvina.com</span>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="right-header text-right">
                                <ul class="social-icons">
                                    <li><a href="#" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-instagram"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="/login" target="/login">Login</a></li>
                                </ul>
                            </div> <!-- /.left-header -->
                        </div> <!-- /.col-md-6 -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.top-header -->
            <div class="main-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="logo">
                                <h1><a href="#" title="Dreri">Flomuvina</a></h1>
                            </div> <!-- /.logo -->
                        </div> <!-- /.col-md-4 -->
                        <div class="col-md-8 col-sm-8 col-xs-6">
                            <div class="menu text-right hidden-sm hidden-xs">
                                <ul>
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                    <li><a href="/login" target="/login" >Login</a></li>
                                </ul>
                            </div> <!-- /.menu -->
                            
                        </div> <!-- /.col-md-8 -->
                    </div> <!-- /.row -->
                    <div class="responsive-menu text-right visible-xs visible-sm">
                        <a href="#" class="toggle-menu fa fa-bars"></a>
                        <div class="menu">
                            <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#contact">Contact</a></li>
                                <li><a href="/login" target="/login" >Login</a></li>
                            </ul>
                        </div> <!-- /.menu -->
                    </div> <!-- /.responsive-menu -->
                </div> <!-- /.container -->
            </div> <!-- /.header -->
        </div> <!-- /.site-header -->
    </div> <!-- /#home -->

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/banner01.jpg" alt="">
                <div class="flex-caption">
                    <h2>Fast and reliable supply of commodity</h2>
                    <span></span>
                    <p>Consistent supply of agro-commodity in large volume to local processors to guarantee uninterrupted processing activities that ensures processors' market share growth</p>
                </div>
            </li>
            <li>
                <img src="images/banner02.jpg" alt="">
                <div class="flex-caption">
                    <h2>Supplied of quality grains at scale</h2>
                    <span></span>
                    <p>Quality assurance in supplied agro-commodity that satisfies regulatory criteria and industry standards for optimised health benefits for citizens.</p>
                </div>
            </li>
        </ul>
    </div>

    <div id="services" class="section-cotent">
        <div class="container">
            <div class="title-section text-center">
                <h2>Our Services</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-umbrella"></i>
                            <h3>Aggregation</h3>
                        </div>
                        <div class="service-description">
                          FloMuvina currently aggregatesagro-commodities from smallholder farmers through organised clusters and functional cooperative farmer groups.
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-desktop"></i>
                            <h3>Warehousing</h3>
                        </div>
                        <div class="service-description">
                          FloMuvinamanages 5,200MT of warehousing space spread across 6 states – Adamawa, Benue, Gombe, Kaduna, Taraba and Zamfara states.
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->
                <div class="col-md-6 col-sm-12">
                    <div class="service-item">
                        <div class="service-header">
                            <i class="fa fa-cogs"></i>
                            <h3>Supply</h3>
                        </div>
                        <div class="service-description">
                          FloMuvina supplies more than 8 local off-takers with key agro- commodities (maize, paddy rice, soybean and sorghum) in and out of season.FloMuvina manages about 350-tons of trucking capacity directly and about 4,000-tons of trucking capacity indirectly.
                        </div>
                    </div> <!-- /.service-item -->
                </div> <!-- /.col-md-3 -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#services -->



    <div id="about" class="section-cotent">
        <div class="container">
            <div class="title-section text-center">
                <h2>About Us</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-12">
                    <h4 class="widget-title">About The Company</h4>
                    <p>FloMuvina Nigeria Limited (FloMuvina) is a supply chain ag-startup focused on
building a resilient ag-commodity supply chain by creating a system that allows
critical ecosystem actors to interact and transact in trust and transparency while
catalyzing sustainable supply of ag-commodity to local processors and international
market off-takers through grain aggregation, warehousing, and semi-last mile
supply at scale.</p>
                  <p>FloMuvina commenced operations in full in the thick of the COVID-19 pandemic and
has to date supplied more than 50,000MT of grains (maize, paddy rice and soybean)
in 2021 to date.
FloMuvina leverages the power of technology, supply chain expertise and a strong
ecosystem social capital to deliver unique value to local processors who seek to
establish a consistent and elastic supply system for the agro-commodities required
to drive their processing operations.</p>
                </div> <!-- /.col-md-3 -->

            </div> <!-- /.row -->
            <div class="row">

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#about -->

    <div id="contact" class="section-cotent">
        <div class="container">
            <div class="title-section text-center">
                <h2>Contact Us</h2>
                <span></span>
            </div> <!-- /.title-section -->
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <h4 class="widget-title">Send a message to us</h4>
                    <div class="contact-form">
                        <p class="full-row">
                            <label for="name-id">Your Name:</label>
                            <input type="text" id="name-id" name="name-id">
                        </p>
                        <p class="full-row">
                            <label for="email-id">Email:</label>
                            <input type="text" id="email-id" name="email-id">
                        </p>
                        <p class="full-row">
                            <label for="subject-id">Subject:</label>
                            <input type="text" id="subject-id" name="subject-id">
                        </p>
                        <p class="full-row">
                            <label for="message">Message:</label>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </p>
                        <input class="mainBtn" type="submit" name="" value="Send Message">
                    </div>
                </div> <!-- /.col-md-3 -->
                <div class="col-md-5 col-sm-6">
                    <h4 class="widget-title">Our location</h4>
                    <div class="map-holder">
                        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%20AMAC%20Market,%20lugbe%20Abuja%20Nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">embed map in email</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
                    </div> <!-- /.map-holder -->
                    <div class="contact-info">
                        <span><i class="fa fa-home"></i>6 SSB Plaza, Behind AMAC Market,Lugbe FHA, FCT Abuja</span>
                        <span><i class="fa fa-phone"></i>080-080-0990</span>
                        <span><i class="fa fa-envelope"></i>trade@flomuvina.com</span>
                    </div>
                </div> <!-- /.col-md-3 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#contact -->

    <div class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <p>Copyright &copy; 2021 Flomuvina</p>
                </div> <!-- /.col-md-6 -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="go-top">
                        <a href="#" id="go-top">
                            <i class="fa fa-angle-up"></i>
                            Back to Top
                        </a>
                    </div>
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.site-footer -->

    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/jquery.lightbox.js"></script>
    <script src="static/js/custom.js"></script>


</body>
</html>
